<!-- Start Intern Card -->
    
<div class="col-sm-4 col-md-4 col-lg-4 centered">

<div class="card mw-100 mh-100">

    <div class="card-header">

        <h4>{{ name }}</h4>

        <h5>{{ _role }}</h5>
    
    </div>

           <!-- Avatar img for role -->
        <img src="../Assets/images/employee_avatar.png" class="card-img-top" alt="...">

            <div class="card-body">

                

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: {{ id }}</li>
                    <li class="list-group-item">Email: {{ email }} </li>
                    <li class="list-group-item">School: {{ school }}</li>
                </ul>

            </div>

            <!-- 

            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>  

            -->

        <!-- End Card -->
        </div>

    <!-- End Col -->
    </div>
<!-- End Intern Card -->
